/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600;700;800&family=Yeseva+One&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
#btn-hero{
    background-color: white;
    color:#3F87F5;
    padding: 10px 43px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}